.navMenu{
    border: solid blue 2px;
    box-sizing: border-box;
    position: absolute;
    width: 200px;
}

.myHeadder{
    background-color: black;
    border: green solid 3px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
}

.mySection {
    border: red solid 3px;
    box-sizing: border-box;
    margin-left: 200px;
}

.myWraper{
    box-sizing: border-box;
    position: relative;
}

.myFooter {
    background-color: black;
    color: white;
    border: #fda917 solid 3px;
    box-sizing: border-box;
    left: 0px;
    padding: 10px;
    position: fixed;
    top: 94%;
    width: 100%;
}

